$backgroundColor: #EBB;
$lightAqua:  rgb(153, 236, 211);
$offwhite: rgba(255, 255, 255, 0.938);

@mixin default-resources () {
  background: $lightAqua;
  border: 1px solid $offwhite;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: border 150ms;
  margin-bottom: 5px;
}