@import url('https://fonts.googleapis.com/css?family=Domine|Fredericka+the+Great|Righteous');

$backgroundColor: #EBB;
$backgroundImage: url('https://www.xmple.com/wallpaper/orange-pink-gradient-linear-1920x1080-c2-ff69b4-ff7f50-a-210-f-14.svg');
$lightAqua:  rgb(153, 236, 211);
$offwhite: rgba(255, 255, 255, 0.938);

$logoFont: 'Fredericka the Great', cursive;
$rscFont:'Righteous', cursive;
$contentFont:'Domine', serif;

@mixin default-resources () {
  background: $lightAqua;
  border: 1px solid $offwhite;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: border 150ms;
  margin-bottom: 5px;
}