.podcast-item {
  border-bottom: 1px solid rgb(92, 87, 87);
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
}
.button-podcast {
  margin-left: 50px !important;
  padding-left: 40px !important;
}